<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hcc.app">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name="com.hcc.app.application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.hcc.app.ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.user.LoginAty"/>
        <activity android:name=".ui.user.RegisterAty"/>
        <activity android:name=".ui.MainActivity"/>
        <activity android:name=".ui.mining.WealthAty"/>
        <activity android:name=".ui.mining.InviteFriendAty"/>
        <activity android:name=".ui.mining.TreasureAty"/>
        <activity android:name=".ui.mining.PromoteAty"/>
        <activity android:name=".ui.BleDeviceBindingActivity"/>
        <activity android:name=".ui.me.FamilyAty"/>
        <activity android:name=".ui.me.IdentityAty"/>
        <activity android:name=".ui.mining.InviteFriendImageAty"/>
        <activity android:name=".ui.shop.ShopDetiasAty"/>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>